* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #181818;
}

#header {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

#weather-information-container {
	margin: 24px 50px 50px 50px;
	background-image: linear-gradient(135deg, #52e5e7 10%, #130cb7 100%);
	border-radius: 12px;
	height: 80vh;
	box-shadow: 0 0 10px 0 #000;
}

#form {
	text-align: center;
}

#form input {
	font-size: 1.5rem;
}

#form button {
	font-size: 1.5rem;
}

.card {
	padding: 32px;
	color: #fff;
}

.card-header {
	text-align: center;
	text-transform: uppercase;
	font-size: 2rem;
}

.card-header {
	width: 100%;
	border-bottom: 4px solid #2b2b2b;
}

p:nth-child(2),
p:nth-child(3),
p:nth-child(4),
p:nth-child(5) {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 1.5rem;
	margin-left: 60px;
}

p:nth-child(6) {
	padding-top: 10px;
	width: 100%;
	border-top: 4px solid #2b2b2b;
	font-size: 1.25rem;
}
